---
---
#front-page-fg {
    background-image: url(../assets/images/front_page.jpg);
    /*background-image: linear-gradient(90deg,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../assets/images/front_page10.jpg);*/
    background-position-x: 0%, 0%;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    min-height: 580px;
    height: 90vh;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    text-shadow: 4px 3px 10px #000;
    color: white;
}
#tellmemore {
    background-color: #2d403a91;
    margin-bottom: 10vh;
    text-shadow: none;
    padding: 20px
}
@media (min-width: 360px) {
    #front-page-fg h3 {
        font-size: 22px;
    }
    #front-page-fg h2 {
        font-size: 30px;
    }
}
@media (min-width: 576px) {
    #front-page-fg h3 {
        font-size: 28px;
    }
    #front-page-fg h2 {
        font-size: 40px;
    }
}
@media (min-width: 992px) {
    #front-page-fg h3 {
        font-size: 32px;
    }
    #front-page-fg h2 {
        font-size: 48px;
    }
}
@media (min-width: 1200px) {
    #front-page-fg h3 {
        font-size: 54px;
    }
    #front-page-fg h2 {
        font-size: 68px;
    }
}

